/* COMMON */
// All
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

// General
body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}

// Mixins
// width
@mixin center-content {
   max-width: $sections-width;
   margin: 0 auto;
}

// album img width
@mixin img-size {
   max-width: $total-width;
}

// img
@mixin round-img {
   border-radius: 50%;
}

// album
@mixin album-setup {
   flex-basis: calc(100% / 4);
   margin-right: 1px;
   margin-bottom: 50px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: #000;
   border-radius: 15px;
}

// input
@mixin input-setup {
   height: 30px;
   width: 150px;
   padding: 0 0 0 10px;
   border-radius: 5px;
   border: none;
   background-color: #858585;
   color: #000;
   transition: background-color .2s linear;

   &:hover,
   &:focus {
      background-color: #fff;
   }
}