/* COMMON */
// All
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

// General
body {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}

// Mixins
// width
@mixin center-content {
   max-width: $sections-width;
   margin: 0 auto;
}

// album img width
@mixin img-size {
   max-width: $total-width;
}

// img
@mixin round-img {
   border-radius: 50%;
}

// albums container
@mixin albums-container-setup {
   @include center-content;
   padding: 100px 20px 50px;
   color: $main-content_color;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   // RESPONSIVE
   // Smartphone Landscape
   @include smartphone-landscape {
      padding: 100px 180px 50px;
   }

   // Tablet
   @include tablet-and-landscape {
      padding: 100px 30px 50px;
   }

   // Desktop
   @include desktop {
      padding: 100px 0 50px;
   }
}

// album
@mixin album-setup {
   flex-basis: 100%;
   margin-right: 1px;
   margin-bottom: 50px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: #000;
   border-radius: 15px;

   // RESPONSIVE
   // Tablet and Desktop
   @include tablet-and-landscape {
      flex-basis: calc(100% / 4);
      margin-right: 1px;
   }
}

// input
@mixin input-setup {
   height: 30px;
   width: 150px;
   padding: 0 0 0 10px;
   border-radius: 5px;
   border: none;
   background-color: #858585;
   color: #000;
   transition: background-color .2s linear;

   &:hover,
   &:focus {
      background-color: #fff;
   }
}

// RESPONSIVE
// Smartphone Landscape
@mixin smartphone-landscape {
   @media all and (min-width: 667px) {
      @content;
   }
}

// Tablet
@mixin tablet-and-landscape {
   @media all and (min-width: 768px) {
      @content;
   }
}

@mixin desktop {
   @media all and (min-width: 1170px) {
      @content;
   }
}