/* HEADER */
header {
   width: $total-width;
   background-color: $header_color;
}

.logo-container {
   @include center-content;
   height: 50px;
}

.logo {
   height: 100%;
   width: 50px;
   padding: 10px;

   & > img {
      @include img-size;
   }
}